*{
    background-color: #DDD8CE;
}
.head{
    display: flex;
    justify-content: space-between;
    background-color:#334464;
    height: 80px;
    width: calc(100%);
}
.space{
    height: calc(5vw);
    max-height: 30px;
}
.lowerSpace{
    height: calc(2vw);
    max-height: 15px;
}
.content{
    width: calc((100%)-4px);
    height: calc(53vw);
    max-height: 435px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
}
.bottom{
    background-color:#334464;
    height: 60px;
    font-size: 20px;
    width: calc(100%);
}
.navigation{
    background-color: rgba(51, 68, 100, 0.82);
    border-radius: 40px;
    height: calc(46vw);
    max-height: 310px;
    width: calc(100%);
    font-size: 42px;
    text-align: center;
}
.navigationClick{
    position: relative;
    background-color: #222222;
    border-radius: 40px;
    height: calc(12%);
    max-height: 50px;
    width: calc(90%);
    left: 2.5%;
    margin: calc(2%);
}
.navigationClick0{
    position: relative;
    background-color: #222222;
    border-radius: 40px;
    height: 0px;
    width: 0px;
    left: 2.5%;
    margin: 10px;
}
#nav{
    background-color: rgba(0, 0, 0, 0);
    width: calc(100%);
}
.login{
    font-size: 35px;
    margin: 5px;
    height: 70px;
    width: 180px;
    background-color: #D9D9D9;
}

.leftBarMain{
    width: calc(7%);
    background-color:#334464;
    height: 60px;
}

.leftBar{
    position: relative;
    background-color: #222222;
    border-radius: 40px;
    height: 20px;
    width: calc(100%);
    max-width: 85px;
    margin: 5px;
}
@media only screen and (min-width: 665px) {
    .navigation{
        display: flex;
        flex-wrap: wrap;
    }
    .navigationClick{
        height: 50px;
        width: calc(30%);
        margin: 10px;
    }
    .navigationClick0{
        height: 50px;
        width: calc(30%);
        margin: 10px;
    }
}
@media only screen and (min-width: 1500px) {
    #under{
        display: flex;
        height: 735px;
    }
    .navigation{
        order: 2;
        height: calc(100%);
        max-height: 1000px;
        width: calc(25%);
    }
    .content{
        order: 1;
        margin-right: calc(2%);
        height: calc(100%);
        max-height: 1000px;
        width: calc(72%);
    }
    .navigationClick{
        height: 43px;
        width: calc(90%);
    }
    .navigationClick0{
        height: 43px;
        width: calc(90%);
    }
}
